//Global's
@import "./reset";
@import "./fonts";

//Component's
@import "../Weather/weather";

body {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  font-family: $text-font;
  color: white;
}
.container {
  margin: 0 auto;
  padding: 0 2.5rem;
}
h1 {
  font-family: $titles-font;
}
h2 {
  font-family: $titles-font;
}
p {
  font-family: $text-font;
}
.strong {
  font-weight: 600;
}
